/************************************
      ABC specific variables.
************************************/
/* line 4, ../scss/typography.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* line 11, ../scss/typography.scss */
.field-name-body h2,
.cke_editable h2 {
  position: relative;
  margin: 0 0 20px 0;
  padding-bottom: 10px;
  font-size: 1.6em;
  line-height: 52px;
}
/* line 18, ../scss/typography.scss */
.field-name-body h2:after,
.cke_editable h2:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  width: 55px;
  height: 3px;
  background: #00A2E4;
}
/* line 29, ../scss/typography.scss */
.field-name-body h3,
.cke_editable h3 {
  font-size: 1.4em;
  line-height: 34px;
}
/* line 34, ../scss/typography.scss */
.field-name-body p,
.cke_editable p {
  margin: 0 0 35px 0;
  font-size: 18px;
  line-height: 28px;
}
/* line 40, ../scss/typography.scss */
.field-name-body a,
.cke_editable a {
  color: #00A2E4;
}
/* line 42, ../scss/typography.scss */
.field-name-body a:hover,
.cke_editable a:hover {
  color: #66BADD;
}
/* line 47, ../scss/typography.scss */
.field-name-body blockquote,
.cke_editable blockquote {
  position: relative;
  float: right;
  width: 60%;
  border: none;
  padding-bottom: 30px;
  margin-right: -10%;
}
/* line 54, ../scss/typography.scss */
.field-name-body blockquote, .field-name-body blockquote p,
.cke_editable blockquote,
.cke_editable blockquote p {
  color: #00A2E4;
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: bold;
}
/* line 60, ../scss/typography.scss */
.field-name-body blockquote p,
.cke_editable blockquote p {
  margin: 0;
}
/* line 64, ../scss/typography.scss */
.field-name-body blockquote:after,
.cke_editable blockquote:after {
  content: "";
  position: absolute;
  width: 140px;
  height: 3px;
  bottom: 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYTJlNCIvPjxzdG9wIG9mZnNldD0iMzMlIiBzdG9wLWNvbG9yPSIjMDBhMmU0Ii8+PHN0b3Agb2Zmc2V0PSIzMyUiIHN0b3AtY29sb3I9IiNmZWNjMDEiLz48c3RvcCBvZmZzZXQ9IjY2JSIgc3RvcC1jb2xvcj0iI2ZlY2MwMSIvPjxzdG9wIG9mZnNldD0iNjYlIiBzdG9wLWNvbG9yPSIjZjkzZTMyIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjkzZTMyIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-linear-gradient(0deg, #00a2e4, #00a2e4 33%, #fecc01 33%, #fecc01 66%, #f93e32 66%, #f93e32);
  background-image: -webkit-linear-gradient(0deg, #00a2e4, #00a2e4 33%, #fecc01 33%, #fecc01 66%, #f93e32 66%, #f93e32);
  background-image: linear-gradient(90deg, #00a2e4, #00a2e4 33%, #fecc01 33%, #fecc01 66%, #f93e32 66%, #f93e32);
}
/* line 79, ../scss/typography.scss */
.field-name-body img,
.cke_editable img {
  max-width: 100%;
}

/* line 86, ../scss/typography.scss */
.cke_editable {
  margin: 0;
  padding: 20px 30px;
}
