.node-type-blog-post {
  .pane-node-field-byline,
  .pane-node-created {
    float: left;
    margin-bottom: 30px;
    color: $color-gray-light;
    font-size: $byline-fsize;
    line-height: $byline-lheight;

    .pane-title {
      display: none;
    }
  }

  .pane-node-field-byline {
    padding-right: 8px;
    margin-right: 8px;
    border-right: 1px solid $color-gray-light;
  }

  .pane-node-body {
    clear: both;
  }
}