// Styles pertaining to the sitewide top bar
$header-height-mobile: 45px;
$header-height-desktop: 80px;

$logo: url('http://i.imgur.com/7IZCtvA.jpg');
$logo-width: 72px;
$logo-height: 52px;

// All-size styles
.page {
  position: relative;
  padding-top: $header-height-mobile;
}
#site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height-mobile;
  box-shadow: 0 1px 1px rgba($color-gray-light, 0.3);
  background: $header-bg;
  z-index: 1000;

  .top-bar,
  ul,
  a {
    background-color: $header-bg;
    color: $header-text-color;
  }

  li a:hover {
    background-color: darken($header-bg, 5%);
  }

  .top-bar {
    .name {
      .a { color: $color-blue-pri; }
      .b { color: $color-gold-pri; }
      .c { color: $color-red-pri; }
      a {
        background-color: $header-bg;
      }
    }

    .menu-icon {
      a {
        background: none;
      }
      span {
        box-shadow: none;
        padding-right: 4px;
        &:after {
          position: absolute;
          content: "☰";
          top: -1px;
          right: -28px;
          font-size: 15px;
        }
      }
    }
  }

  .top-bar-section {
    .has-dropdown > a:after {
      border-color: transparent transparent transparent $header-text-color;
    }
  }

  #donate-button {
    a {
      background: $color-red-pri;
      color: #FFF;
      &:hover {
        background-color: $color-red-sec;
      }
    }
  }
}

// Full-width menu styles
@media #{$topbar-media-query} {
  .page {
    padding-top: $header-height-desktop;
  }
  #site-header {
    height: $header-height-desktop;
    padding: 0 45px;

    .top-bar {
      background: $header-bg;

      .title-area {
        position: absolute;
        margin-top: 13px;
        z-index: 2;
        a {
          background: $logo no-repeat;
          height: $logo-height;
          width: $logo-width;
          text-indent: -9999px;
        }
      }
    }

    #main-menu {
      width: 100%;
      background: none;
      padding-left: $logo-width + 25;
      z-index: 1;
    }

    a {
      padding: 0 25px;
      font-size: $menu-fsize;
      line-height: $header-height-desktop;
      font-weight: bold;
      &:after {
        display: none;
      }
    }

    li:hover a {
      background-color: darken($header-bg, 5%);
    }

    .dropdown {
      background: none;
      a {
        font-weight: normal;
        line-height: 48px;
        padding-right: 40px;

        &:hover {
          color: $color-blue-pri;
        }
      }
      .first a {
        padding-top: 15px;
      }
      .last a {
        padding-bottom: 20px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }

    #donate-button {
      float: right;
      a {
        margin-top: 16px;
        line-height: $header-height-desktop - 32px;
        padding: 0 30px;
        border-radius: 3px;
      }
    }
  }
}

// Disable pinning for admin
body.navbar-administration {
  .page {
    padding: 0;
  }
  #site-header {
    position: relative;
    z-index: inherit;
  }
}
